
.card-conatiner{
    border: 5px ridge lightskyblue;
    position: absolute;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    /* align-items: center; */
 
}
button{
    border: 2px ridge lightslategray;
    color: black;
    float: right;
    margin-right: 10px;
}