<div class="modal-header">
    <h4 class="modal-title pull-left">Upload Item</h4>
  </div>
  <div class="modal-body">
      <form #f="ngForm" >
          <div class="form-group">
          <div class="row">  
   <label>Name</label>   <input type= "text" name="name" class="form-control" [(ngModel)]="item.name" required>
</div>  
<br>
<div class="row"> 
   <label class="col-2">Description</label> <textarea class="col-4" name="description" class="form-control" [(ngModel)]="item.description" required></textarea>
</div>
<br>
   <div class="row"> 
   <label>Price</label> <input name ="price" type="number" class="form-control" [(ngModel)]="item.price" required>
   </div>
   <br>
   <div class="row"> 
   <label>Image</label> <input name="file" type="file" class="form-control" (change)="readUrl($event)" required>
   </div>
   <br>
   </div>
   <button  class="success" type="submit" (click)="upload()">Upload</button>
   <button type="button" class="btn btn-primary-functional btn-small" (click)="okPress()">Cancel</button>
   </form>

  </div>
 
  