
<mat-card class="example-card ">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title><strong>{{item.name}}</strong></mat-card-title>
      <mat-card-subtitle>{{item.price}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image style="width: 30px;height: 30px;" [src]="item.image.url" alt=""/>
    <mat-card-content>
      <p>
       {{item.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button class="alert-primary" [disabled]="verify(item.id,'save')" (click)="saveToBag(item)">Add to Bag</button> 
       <button mat-button class="alert-warning" [disabled]="verify(item.id,'remove')" (click)="removeFromBag(item)">Remove</button> 
    </mat-card-actions>
  </mat-card>
 